/* A CSS Module file, to set custom CSS on components if required */

.exampleCol {
  border-right: 1px solid var(--bs-card-border-color);
  place-content: center;
  text-align: center;
}



.codeBlock {
  font-family: 'Courier New', Courier, monospace;

  :global(pre) {
    border-radius: var(--bs-border-radius);
  }
}

.markdown {

  :global(blockquote) {
    display: inline-block;
    margin-left: 1rem;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-dark-bg-subtle);
    padding: .5rem 1rem;
    :global(p) {
      margin-bottom: 0;
    }
  }
}